/* Кауфман */
.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 2;
  color: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 90px;
}
